mixin lunchmenu()

    +b('section').lunchmenu
        +e.wrap
            +e.block
                +e.header
                    +e.title LEKKER ETEN
                    +e.line
                    +e.text Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.
                +e.picture
                    img(src='/images/lunchmenu_1.png')
            +e.block
                +e.header
                    +e.title TOFFE AMBIANCE
                    +e.line
                    +e.text Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.
                +e.picture
                    img(src='/images/lunchmenu_2.png')
            +e.block
                +e.header
                    +e.title LEKKERE COCKTAILS
                    +e.line
                    +e.text Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail, een goed gesprek en lekker eten.
                +e.picture
                    img(src='/images/lunchmenu_3.png')