mixin sharing(isShowTitle)

    +b.sharing
        +e('ul').list
            +e('li').item
                +e('a').link(href='#')
                    img(src=`/images/fb.svg`)
            +e('li').item
                +e('a').link(href='#')
                    img(src=`/images/ig.svg`)
            +e('li').item
                +e('a').link(href='#')
                    img(src=`/images/tw.svg`)
            +e('li').item
                +e('a').link(href='#')
                    img(src=`/images/yt.svg`)
            