mixin lead-catcher()

    +b('section').lead-catcher
        +e.popup-fade
        +e.container
            +e('button').button-close x
            +e.inner 
                +e.text
                    +e('p').title Разработаем готовое решение под ваши требования
                +e.form-container
                    +e('input').telephone
                    +e.content__btn
                        +e('button').button-telephone Жду звонка