@font-face
	font-family 'Poppins-Regular'
	src url('../../fonts/Poppins-Regular.woff2') format('woff')

@font-face
	font-family 'Poppins-Bold'
	src url('../../fonts/Poppins-Bold.woff2') format('woff')

@font-face
	font-family 'Poppins-Medium'
	src url('../../fonts/Poppins-Medium.woff2') format('woff')

@font-face
	font-family 'Play'
	src url('../../fonts/Play.woff2') format('woff')

@font-face
	font-family 'Play-Bold'
	src url('../../fonts/Play-Bold.woff2') format('woff')
	