$PoppinsBold = 'Poppins-Bold', sans-serif
$PoppinsMedium = 'Poppins-Medium', sans-serif
$PoppinsRegular = 'Poppins-Regular', sans-serif
$Play = 'Play', sans-serif
$Play-Bold = 'Play-Bold', sans-serif

$c-white = #fff
$c-black = #000
$c-gold = #d3b47f
$c-blue = #3A4574
$c-grey =#808080
$c-grey_light =#CCCCCC
$c-black_light =#2E2E2E
$c-bluekeaz = #04488E
$c-bluevidit = #0988CA
$c-whitevidit = #F4F5F6
$c-blackvidit = #0A0A0A
$c-blue2vidit = #034060
$c-blue3vidit = #0E97D1
$c-red= #e52712
$c-gray = #e7e6e6