mixin wijnkaart()

    +b('section').swiper

        +e.swap-left
        
        +e.content.swiper-wrapper
            +e.text.swiper-slide
                +e.apostrophe
                    img(src='/images/apostrophe.svg')
                +e.title Goede service, lekker eten, toffe ambiance
                +e('p').description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                +e.author ALAIN HEYNDRICKX
            +e.text.swiper-slide
                +e.apostrophe
                    img(src='/images/apostrophe.svg')
                +e.title Goede service, lekker eten, toffe ambiance
                +e('p').description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                +e.author ALAIN HEYNDRICKX
            +e.text.swiper-slide
                +e.apostrophe
                    img(src='/images/apostrophe.svg')
                +e.title Goede service, lekker eten, toffe ambiance
                +e('p').description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                +e.author ALAIN HEYNDRICKX

        +e.swap-right