.mobilemenu
    background-color $c-blue

    &__wrap
        display flex
        flex-direction column
        justify-content space-between
        align-items center
        border w(2) solid $c-white
        +below(768px)
            border wm(2) solid $c-white

    &__carte
        padding-top w(50)
        padding-bottom w(30)
        color $c-white
        font-family $PoppinsRegular
        font-style normal
        font-weight normal
        font-size w(44)
        line-height w(24)
        border-bottom w(2) solid $c-white
        +below(768px)
            padding-bottom wm(30)
            padding-top wm(50)
            font-size wm(44)
            line-height wm(24)
            border-bottom wm(2) solid $c-white
        &:hover
            opacity .7
            border-bottom w(2) solid $c-gold
            color $c-gold

    &__kaart
        color $c-white
        font-family $PoppinsRegular
        font-style normal
        font-weight normal
        font-size w(44)
        line-height w(24)
        +below(768px)
            padding-bottom wm(30)
            padding-top wm(30)
            font-size wm(44)
            line-height wm(24)
            border-bottom wm(2) solid $c-white
        &:hover
            opacity .7
            border-bottom w(2) solid $c-gold
            color $c-gold

    &__lunchmenu
        color $c-white
        font-family $PoppinsRegular
        font-style normal
        font-weight normal
        font-size w(44)
        line-height w(24)
        +below(768px)
            padding-bottom wm(30)
            padding-top wm(30)
            font-size wm(44)
            line-height wm(24)
            border-bottom wm(2) solid $c-white
        &:hover
            opacity .7
            border-bottom w(2) solid $c-gold
            color $c-gold

    &__slider
        color $c-white
        font-family $PoppinsRegular
        font-style normal
        font-weight normal
        font-size w(44)
        line-height w(24)
        +below(768px)
            padding-bottom wm(30)
            padding-top wm(30)
            font-size wm(44)
            line-height wm(24)
            border-bottom wm(2) solid $c-white
        &:hover
            opacity .7
            border-bottom w(2) solid $c-gold
            color $c-gold

    &__contact
        color $c-white
        font-family $PoppinsRegular
        font-style normal
        font-weight normal
        font-size w(44)
        line-height w(24)
        +below(768px)
            padding-bottom wm(30)
            padding-top wm(30)
            font-size wm(44)
            line-height wm(24)
        &:hover
            opacity .7
            border-bottom w(2) solid $c-gold
            color $c-gold