mixin mobilemenu()

    +b('section').mobilemenu
        +e.wrap
            +e.carte À la carte
            +e.kaart Wijnkaart
            +e.lunchmenu Lunchmenu
            +e.slider Slider
            +e.contact Contact