mixin carte()

    +b('section').carte
        .container
            +e.wrap
                +e.list
                    +e.block
                        +e.street Woensdag 12/01
                        +e.inline
                            +e.title Salade met Serrano
                            +e.ellipce
                                img(src='/images/ellipce.svg')
                            +e.subtitle Steak Tartaar
                    +e.block
                        +e.street Donderdag 13/01
                        +e.inline
                            +e.title Toast Roquefort
                            +e.ellipce
                                img(src='/images/ellipce.svg')
                            +e.subtitle Penne met Kip en Prei
                    +e.block
                        +e.street Vrijdag 14/01
                        +e.inline
                            +e.title Verrassing van de Chef
                            +e.ellipce
                                img(src='/images/ellipce.svg')
                            +e.subtitle Penne met Kip en Prei
                    +e.block
                        +e.street Vrijdag 15/01
                        +e.inline
                            +e.title Verrassing van de Chef
                            +e.ellipce
                                img(src='/images/ellipce.svg')
                            +e.subtitle Penne met Kip en Prei
                    +e.block
                        +e.street Vrijdag 16/01
                        +e.inline
                            +e.title Verrassing van de Chef
                            +e.ellipce
                                img(src='/images/ellipce.svg')
                            +e.subtitle Penne met Kip en Prei
                +e.photo
                    +e.picture-one
                        img(src='/images/photo_1.png')
                    +e.picture-two
                        img(src='/images/photo_2.png')