mixin footer()

    +b('section').footer
        +e.img
            img(src='/images/contact_map.png')
        +e.links
            +e.logo
                img(src='/images/logo_black.png')
            +e.sharing
                +sharing()