mixin sharing_copy()

    +b.sharing_copy
        +e('ul').list
            +e('li').item
                +e('p').text Fb
            +e('li').item
                +e('p').text Ig
            +e('li').item
                +e('p').text Tw
            +e('li').item
                +e('p').text Yt
            