mixin slider()

    +b('section').slider
        +e.container
            +e.textform
                +e.title Sfeerfoto's
                +e.text De beste manier om de sfeer te ervaren is eens langskomen. In tussentijd hebben we hier alvast wat fotos voor je klaar.
            +e.swap
                +e.swap_left
                +e.swap_rigth
        .container
            +e.list
                +e.item
                    img(src='/images/slider_2.png')
                +e.item
                    img(src='/images/slider_2.png')
                +e.item
                    img(src='/images/slider_2.png')

        //- +e.slider_item
        //-     +e.slider_1
        //-         img(src='/images/slider_1.png')
        //-     +e.slider_2
        //-         img(src='/images/slider_2.png')
        //-     +e.slider_3
        //-         img(src='/images/slider_3.png')
                